services:
  db:
    image: postgres:15
    restart: always
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      - local_postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ./app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
    restart: always
    volumes:
      - ./app:/app
    command: ["go", "run", "main.go"]

volumes:
  local_postgres_data: {}
